@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Arizonia&family=Balsamiq+Sans&family=Italianno&family=Quicksand&family=Sail&family=Varela+Round&display=swap');

body {
    background: url("/static/images/bg8.jpg");
    background-size: cover;
    font-family: "Quicksand", sans-serif;
}

.page-title {
    background-color: white;
    color: #8f475e;
    line-height: 70px;
    border: 3px ridge black;
    text-transform: uppercase;
}

small a {
    color: #8f475e;
}

/* -------- LOGO -------- */
nav .brand-logo {
    font-family: "Sail", cursive;
    color: #a9546f !important;
    font-size: 30px;
    margin-left: 20px;
}

.brand-logo-mobile {
    font-size: 25px;
    font-family: "Sail", cursive;
    color: #a9546f !important;
}

/* --------- NAVBAR --------- */
.nav-styling {
    font-size: 17px;
    color: #a9546f !important;
    margin-left: 40px;
}

.nav-styling-mobile {
    font-size: 18px;
    color: #a9546f !important;
}

.nav-wrapper {
    background-color: #f2e4e8;
}

/* ------- FLASHED MESSAGES ------- */
.flashes h4 {
    line-height: 2;
    color: #a9546f !important;
    background-color: white;
    font-family: "Quicksand", cursive;
}

/* ------ BUTTONS ------- */
.buttons {
    background-color: #f2e4e8;
    color: #a9546f;
    margin-left: 20px;
}

.buttons:hover {
    background-color: #e5cad2;
}

/* ------- USERS PROFILE ------- */
.users-profile {
    background-color: white;
    color: #8f475e;
    line-height: 70px;
    text-transform: capitalize;
}

.users-details {
    font-size: 20px;
}

/* ------- FORMS -------- */
form {
    margin-top: 5%;
}

.blogpost-form {
    background-color: white;
}

.card-panel {
    border: 3px solid black;
}

/* -------- SEARCH SECTION --------- */
.search-section {
    background-color: white;
}

.no-results {
    color: white;
    text-shadow: 2px 1px 2px black;
}



/* ------- MEDIA QUERIES -------- */

@media only screen and (max-width: 450px) {
   nav .brand-logo {
    font-size: 20px;
}
}


