{% extends "base.html" %}
{% block content %}

	<form class="col s12 m8 offset-m2 blogpost-form">
		<!--<div class="card-panel">-->
			<ul>
				{% for blogpost in blogs %}
				<li>
					<div>
						<strong> {{ blogpost.blog_title }} </strong>
					</div>
					<div>
						<p> {{ blogpost.blog_content }} </p> 
						<p>created by {{ blogpost.created_by }} at {{ blogpost.created_at }}</p>
                        <br>
						<div class="col s3">
							{% if session.username|lower == blogpost.created_by|lower %}
							<a href="{{ url_for('edit_post', blogpost_id=blogpost._id) }}" class="btn-small buttons hvr-grow hvr-glow">Edit</a>
							<a href="" class="btn-small buttons hvr-grow hvr-glow">Delete</a>
							{% endif %}
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
	</form>


{% endblock %}


