{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create New Blog</h3>

<div class="row">
	<form class="col s12" method="POST" action="">
		<div class="card-panel">
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-pen-alt prefix"></i>
					<input id="blog_title" name="blog_title" minlength="4" maxlength="40" type="text" class="validate" required>
					<label for="blog_title">Blog Title</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="fas fa-align-justify prefix"></i>
                    <textarea id="blog_content" name="blog_content" minlength="5" maxlength="250" class="materialize-textarea validate" required></textarea>
                    <label for="blog_content">Blog Content</label>
				</div>
			</div>
		</div>
	</form>
</div>
        


{% endblock %}
