{% extends "base.html" %}
{% block content %}

<!-- PAGE HEADER -->
<h4 class="center-align page-title">Create New Post</h4>

<!-- CREATE POST FORM -->
<div class="row">
	<form class="col s12" method="POST" action="{{ url_for('create_blogpost') }}">
		<div class="card-panel">
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-pen-alt prefix"></i>
					<input id="blog_title" name="blog_title" minlength="4" maxlength="40" type="text" class="validate" required>
					<label for="blog_title"> Title</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="far fa-image prefix"></i>
					<input id="blog_image" name="blog_image" type="text" class="validate">
					<label for="blog_image">Image URL</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-align-justify prefix"></i>
					<textarea id="blog_content" name="blog_content" class="materialize-textarea validate" required></textarea>
					<label for="blog_content">Content</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 center-align">
					<button type="submit" class="col s12 m4 offset-m4 buttons btn hvr-grow hvr-glow">Create Post<i class="fas fa-plus-circle prefix"></i></button>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}
