{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Task</h3>

<div class="row">
	<form class="col s12" method="POST" action="{{ url_for('edit_post', blogpost_id=blogpost._id) }}">
		<div class="card-panel">
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-pen-alt prefix"></i>
					<input id="blog_title" name="blog_title" minlength="4" maxlength="40" type="text" class="validate" required>
					<label for="blog_title">Blog Title</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="fas fa-align-justify prefix"></i>
                    <textarea id="blog_content" name="blog_content" minlength="5" maxlength="250" class="materialize-textarea validate" required></textarea>
                    <label for="blog_content">Blog Content</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 center-align">
					<button type="submit" class="col s12 m4 offset-m4 reg-login-btn btn-large hvr-grow hvr-glow">Edit Task <i class="fas fa-edit prefix"></i></button>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}
