{% extends "base.html" %}
{% block content %}

<!-- HOME PAGE -->
<div class="row">
	<div class="post_image">
		<img src="{{ blogpost.blog_image }}" class="view_post_img">
	    </div>
		<p> {{ blogpost.blog_title }} </p>
		<p> {{ blogpost.blog_content }} </p>
		<p>created by {{ blogpost.created_by }} at {{ blogpost.created_at }}</p>
		<div class="col s3">
			{% if session.username|lower == blogpost.created_by|lower %}
			<div class="modal-buttons">
				<a href="{{ url_for('edit_post', blogpost_id=blogpost._id) }}"
					class="btn-small buttons home-page-buttons hvr-grow hvr-glow">Edit</a>
				<button data-target="modal1" class="btn-small modal-trigger buttons hvr-glow hvr-grow">Delete</button>
			</div>
			{% endif %}
		</div>
	</div>

<!-- MODAL -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<h3>Delete Post</h3>
		<p>Are you sure you want to delete this post?</p>
	</div>
	<div class="modal-footer">
		<button class="btn-small pop-up-buttons modal-close hvr-glow hvr-grow">Cancel</button>
		<a href="{{ url_for('delete_post', blogpost_id=blogpost._id) }}"
				class="btn-small pop-up-buttons hvr-grow hvr-glow">Delete</a>
	</div>
</div>

{% endblock %}