{% extends "base.html" %}
{% block content %}

<div class="post_image">
	<img src="{{ blogpost.blog_image }}" class="view_post_img">
</div>
	<p> {{ blogpost.blog_title }} </p>
	<p> {{ blogpost.blog_content }} </p>
	<p>created by {{ blogpost.created_by }} at {{ blogpost.created_at }}</p>
	<div class="col s3">
		{% if session.username|lower == blogpost.created_by|lower %}
		<a href="{{ url_for('delete_post', blogpost_id=blogpost._id) }}"
			class="btn-small buttons post-buttons hvr-grow hvr-glow">Delete</a>
		<a href="{{ url_for('edit_post', blogpost_id=blogpost._id) }}"
			class="btn-small buttons post-buttons hvr-grow hvr-glow">Edit</a>
		{% endif %}
	</div>
	{% endblock %}